<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/loggedIn" method="POST">
<input type="text" placeholder="Enter code send in email" name="rstring" value="{{ request.form.rstring }}" required>

        <button type="submit">Login</button>

    </form>
</body>
</html>